<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About - What kind of film?</title>
  <link rel="stylesheet" href="../static/styles.css" />
  <link rel="icon" href="../static/Image/clapperboard.png" type="image/png" />

</head>
<body>
  <header>
    <div class="topbar">
      <span class="brand">What kind <span>of film?</span></span>
      <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
      </nav>
    </div>
  </header>

  <main>
    <div class="about-container">
      <h1>About This Project</h1>
      <p>
        <strong>What kind of film?</strong> is an intelligent movie search and recommendation system that allows you to explore films simply by describing them in your own words and our system will analyze your input using advanced Natural Language Processing (NLP) techniques, then suggest movies that best match your intent..
      </p>

      <h2>How It Works</h2>
      <p>
        The system applies multiple semantic models, including Latent Semantic Analysis (LSA) and vector embedding techniques such as TF-IDF, BoW, Word2Vec, GloVe, FastText, PPMI, and Hellinger PCA. These models help understand the meaning behind your words and retrieve the most relevant movie descriptions from the database.
      </p>

      <h2>Technologies Used</h2>
      <ul>
        <li>Frontend: HTML, CSS, JavaScript</li>
        <li>Backend: Python Flask</li>
        <li>Vector Models: TF-IDF, BoW, Word2Vec, GloVe, FastText, PPMI, Hellinger PCA</li>
        <li>Voice Search: Web Speech API</li>
        <li>Data Storage: MongoDB, Qdrant (vector database)</li>
      </ul>

      <h2>Project Purpose</h2>
      <p>
        This project was developed as a hands-on application to explore modern methods in information retrieval, semantic search, and user interaction. It serves both as an educational exercise and a demonstration of how AI can enhance the way we search for and discover movies.
      </p>
    </div>
  </main>

  <footer>
    <div class="footer-container">
      <p>&copy; 2025 What kind of film? — All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
