<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>What kind of film?</title>
  <link rel="stylesheet" href="../static/styles.css" />
  <link rel="icon" href="../static/Image/clapperboard.png" type="image/png" />

</head>
<body>
  <header>
    <div class="topbar">
      <span class="brand">What is <span> my film?</span></span>
      <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <!-- <a href="#">Feedback</a> -->
      </nav>
    </div>
  </header>

  <main>
    <div class="logo">
      <img src="../static/Image/clapperboard.png" alt="Clapper Board" />
      <h1><span>What is my film?</span></h1>
    </div>

    <h2>Describe a movie</h2>
    <p class="description">
      Use your own words, or search with titles, actors, directors, genres etc.
    </p>
    <p class="subtitle">We find and recommend for you.</p>


    <form id="searchForm" class="search-container">
      <input
        type="text"
        name="query"
        id="searchInput"
        placeholder='E.g. "A Billionaire discovers his true destiny after stumbling upon a haunted castle and fights to protect the castle legacy."'
        required
      />
      <div class="control-row">
        <button type="submit">Search</button>
        <button class="mic" onclick="startVoiceSearch()">🎤</button>
        <!-- <label for="modelSelector">Select LSA model:</label> -->
        <select name="model" id="modelSelector">
          <option value="tfidf">TF-IDF</option>
          <option value="bow">BoW</option>
          <option value="ppmi">PPMI</option>
          <option value="fasttext">FastText</option>
          <option value="glove">GloVe</option>
          <option value="word2vec">Word2Vec</option>
          <option value="hellinger_pca">Hellinger PCA</option>
        </select>
      </div> 
    

    </form>

    <div class="skip" id="results"></div>

    
  </main>

  <script src="../static/script.js"></script>
</body>

<footer>
  <div class="footer-container">
    <p>&copy; 2025 What is my film? — All rights reserved.</p>
  </div>
</footer>

</html>
